---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: recyclarr
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: cronjob
      annotations:
        reloader.stakater.com/auto: "true"
      cronjob:
        schedule: 0 6 * * *
    image:
      repository: ghcr.io/recyclarr/recyclarr
      tag: 5.1.1
    env:
      TZ: "America/New_York"
      PUID: "568"
      PGID: "568"
    command:
      - /app/recyclarr/recyclarr
    args:
      - sync
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        type: secret
        name: recyclarr-secret
        mountPath: /config/recyclarr.yml
        subPath: recyclarr.yml
        readOnly: true
