---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: unifi
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      chart: unifi
      version: 4.9.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: jacobalberty/unifi
      tag: v7.1.68

    env:
      TZ: America/New_York

    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
        hosts:
          - host: "unifi.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "unifi.${SECRET_DOMAIN}"
            secretName: tls.unifi

    service:
      main:
        type: LoadBalancer
        loadBalancerIP: 10.45.10.17
        annotations:
          coredns.io/hostname: unifi
          # traefik.ingress.kubernetes.io/service.serversscheme: https
        externalTrafficPolicy: Local

    nodeSelector:
      node-role.kubernetes.io/worker: "true"

    persistence:
      data:
        enabled: true
        existingClaim: unifi-data-pvc

    resources:
      requests:
        memory: 1024M
        cpu: 35m
      limits:
        memory: 1536Mi
