---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: default
spec:
  releaseName: esphome
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: esphome
      version: 4.3.1
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: esphome/esphome
      tag: 1.15.3
    env:
      TZ: "America/New_York"
      ESPHOME_DASHBOARD_USE_PING: true
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
    ingress:
      enabled: true
      annotations:
        kubernetes.io/ingress.class: "nginx"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        kubernetes.io/tls-acme: "true"
        nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
        nginx.ingress.kubernetes.io/auth-tls-secret: "kube-system/bigcerts-ca-cert"
        nginx.ingress.kubernetes.io/auth-tls-verify-depth: "1"
        # nginx.ingress.kubernetes.io/auth-tls-error-page: "http://www.mysite.com/error-cert.html"
        nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: "true"
        # ingress.pomerium.io/allowed_groups: '["k8s-admins"]'
        # nginx.ingress.kubernetes.io/auth-url: "https://pomerium-proxy.kube-system.svc.cluster.local/verify?uri=$scheme://$host$request_uri"
        # nginx.ingress.kubernetes.io/auth-signin: "https://pomerium-proxy.kube-system.svc.cluster.local/?uri=$scheme://$host$request_uri"
      hosts:
      - host: esphome.holthome.net
        paths:
        - path: /
          pathType: Prefix
      tls:
      - hosts:
        - esphome.holthome.net
        secretName: esphome-cert
    persistence:
      config:
        enabled: true
        existingClaim: esphome-pvc
