---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: calibre-web
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: calibre-web
      version: 8.3.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/linuxserver/calibre-web
      tag: version-0.6.19

    env:
      TZ: "America/New_York"
      PGID: 65539
      DOCKER_MODS: "linuxserver/calibre-web:calibre"

    persistence:
      config:
        enabled: true
        existingClaim: calibre-web-config-pvc
      nfs-nas-media:
        enabled: true
        existingClaim: media-nfs-share-pvc
        mountPath: /data
        readOnly: false

      # nfs-nas-media:
      #   enabled: true
      #   type: custom
      #   volumeSpec:
      #     nfs:
      #       server: "nas.${SECRET_DOMAIN}"
      #       path: /mnt/tank/share
      #   mountPath: /data

    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: ipv4.${SECRET_DOMAIN}
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
          traefik.ingress.kubernetes.io/router.middlewares: "network-internal-auth@kubernetescrd"

        hosts:
          - host: calibre-web.${SECRET_DOMAIN}
            paths:
              - path: /

        tls:
          - secretName: tls.calibre-web
            hosts:
              - calibre-web.${SECRET_DOMAIN}

    resources:
      requests:
        memory: 256Mi
      limits:
        memory: 512Mi
