---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: zwavejs2mqtt
  namespace: home
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: zwavejs2mqtt
      version: 5.4.2
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/zwave-js/zwavejs2mqtt
      tag: 6.16.0
    env:
      TZ: "America/New_York"
    securityContext:
      privileged: true

    service:
      main:
        annotations:
          prometheus.io/probe: "true"
          prometheus.io/protocol: http
        ports:
          http:
            port: 8091
          websocket:
            enabled: true
            port: 3000
    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "network-internal-auth@kubernetescrd"
        hosts:
          - host: "zwave.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "zwave.${SECRET_DOMAIN}"
            secretName: tls.zwavejs2mqtt
    persistence:
      config:
        enabled: true
        existingClaim: zwavejs2mqtt-config-pvc
        mountPath: /usr/src/app/store
      usb:
        enabled: true
        hostPath: /dev/serial/by-id/usb-0658_0200-if00
        mountPath: /dev/serial/by-id/usb-0658_0200-if00
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - {
                    key: "feature.node.kubernetes.io/custom-zwave",
                    operator: In,
                    values: ["true"],
                  }
