---
clusterName: &clusterName ${clusterName}
endpoint: "https://${clusterName}.${domainName}:6443"

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.9.5
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.34.2

additionalApiServerCertSans: &sans
  - &talosControlplaneVip ${clusterEndpointIP}
  - ${clusterName}.${domainName}
  - "127.0.0.1"
additionalMachineCertSans: *sans

cniConfig:
  name: none

nodes:
  - hostname: cp-0.holthome.net
    controlPlane: true
    # disableSearchDomain: true
    ipAddress: 10.20.0.20
    installDisk: /dev/vda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 52:54:00:bf:00:c3
              driver: virtio_net
        dhcp: true

  - hostname: node-0.holthome.net
    controlPlane: true
    # disableSearchDomain: true
    ipAddress: 10.20.10.20
    installDisk: /dev/sda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 0c:c4:7a:8e:90:f4
              driver: ixgbe
        dhcp: true
        vlans:
          - &vlan30
            vlanId: 30
            mtu: 1500
            dhcp: true
            dhcpOptions:
              routeMetric: 4096

  - hostname: node-1.holthome.net
    controlPlane: true
    # disableSearchDomain: true
    ipAddress: 10.20.10.21
    installDisk: /dev/sda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 0c:c4:7a:8f:9f:f2
              driver: ixgbe
        dhcp: true
        vlans:
          - *vlan30

  - hostname: node-2.holthome.net
    controlPlane: true
    # disableSearchDomain: true
    ipAddress: 10.20.10.22
    installDisk: /dev/sda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 0c:c4:7a:8f:3e:04
              driver: ixgbe
        dhcp: true
        vlans:
          - *vlan30

  - hostname: node-3.holthome.net
    controlPlane: true
    # disableSearchDomain: true
    ipAddress: 10.20.10.23
    installDisk: /dev/sda
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: 0c:c4:7a:eb:21:fc
              driver: ixgbe
        dhcp: true
        vlans:
          - *vlan30

controlPlane:
  nodeLabels:
    topology.kubernetes.io/region: *clusterName
    topology.kubernetes.io/zone: m

  schematic:
    customization:
      extraKernelArgs:
        - apparmor=0 # Less security, more speed
        - init_on_alloc=0 # Less security, more speed
        - init_on_free=0 # Less security, more speed
        - intel_iommu=on # PCI Passthrough
        - iommu=pt # PCI Passthrough
        - mitigations=off # Less security, more speed
        - security=none # Less security, more speed
        - net.ifnames=1 # Enable predictable NIC naming
      systemExtensions:
        officialExtensions:
          - siderolabs/gasket-driver
          - siderolabs/intel-ucode
          - siderolabs/mei

  patches:
    # Configure containerd
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true
              [plugins."io.containerd.grpc.v1.cri".containerd]
                discard_unpacked_layers = false
              [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.runc]
                discard_unpacked_layers = false

    # Disable search domain everywhere
    - |-
      machine:
        network:
          disableSearchDomain: true

    # Enable host dns
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false

    # Enable cluster discovery
    - |-
      cluster:
        discovery:
          enabled: true
          registries:
            kubernetes:
              disabled: false
            service:
              disabled: true

    # Configure kubelet
    - |-
      machine:
        kubelet:
          extraArgs:
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
                - 10.20.0.0/16

    # Enable MutatingAdmissionPolicy
    - |-
      cluster:
        apiServer:
          extraArgs:
            runtime-config: admissionregistration.k8s.io/v1alpha1=true
            feature-gates: MutatingAdmissionPolicy=true


    # Configure cluster
    - |-
      cluster:
        allowSchedulingOnControlPlanes: true
        coreDNS:
            disabled: true
        proxy:
          disabled: true
        scheduler:
          config:
            apiVersion: kubescheduler.config.k8s.io/v1
            kind: KubeSchedulerConfiguration
            profiles:
              - schedulerName: default-scheduler
                pluginConfig:
                  - name: PodTopologySpread
                    args:
                      defaultingType: List
                      defaultConstraints:
                        - maxSkew: 1
                          topologyKey: kubernetes.io/hostname
                          whenUnsatisfiable: ScheduleAnyway

    # ETCD configuration
    - |-
      cluster:
        etcd:
          advertisedSubnets:
            - 10.20.0.0/16

    # Configure NFS mount options
    - |
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nconnect=16

    # Configure nfs mount options
    - |-
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nodiratime=True
              rsize=131072
              wsize=131072
              nconnect=8

    # Configure static host entries
    - |-
      machine:
        network:
          extraHostEntries:
            - ip: ${clusterEndpointIP}
              aliases:
                - ${clusterName}.${domainName}

    # Configure custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_instances: 8192    # Watchdog
          fs.inotify.max_user_watches: 1048576   # Watchdog
          net.core.rmem_max: 67108864            # Cloudflared / QUIC
          net.core.wmem_max: 67108864            # Cloudflared / QUIC

    # Configure udev rules
    - |-
      machine:
        udev:
          rules:
            # Intel GPU
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"
            # Coral Edge GPU
            - SUBSYSTEMS=="usb", ATTRS{idVendor}=="1a6e", ATTRS{idProduct}=="089a", MODE="0664", TAG+="uaccess"
            - SUBSYSTEMS=="usb", ATTRS{idVendor}=="18d1", ATTRS{idProduct}=="9302", MODE="0664", TAG+="uaccess"

    # Disable default API server admission plugins.
    - |-
      - op: remove
        path: /cluster/apiServer/admissionControl

    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - actions-runner-system
              - system-upgrade

    # Force nameserver
    - |-
      machine:
        network:
          nameservers:
            - 10.20.0.15

    # Configure NTP
    - |-
      machine:
        time:
          disabled: false
          servers:
            - 0.us.pool.ntp.org

    # Configure pull through cache
    - |-
      machine:
        registries:
          mirrors:
            docker.io:
              endpoints:
                - https://zot.holthome.net/v2/docker.io
              overridePath: true
            ghcr.io:
              endpoints:
                - https://zot.holthome.net/v2/ghcr.io
              overridePath: true
            quay.io:
              endpoints:
                - https://zot.holthome.net/v2/quay.io
              overridePath: true
            gcr.io:
              endpoints:
                - https://zot.holthome.net/v2/gcr.io
              overridePath: true
            registry.k8s.io:
              endpoints:
                - https://zot.holthome.net/v2/registry.k8s.io
              overridePath: true
            public.ecr.aws:
              endpoints:
                - https://zot.holthome.net/v2/public.ecr.aws
              overridePath: true
