---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: loki
  namespace: monitoring
spec:
  releaseName: loki
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://grafana.github.io/helm-charts
      chart: loki
      version: 3.0.0
      sourceRef:
        kind: HelmRepository
        name: grafana-charts
        namespace: flux-system
      interval: 5m
  values:
    replicas: 3
    persistence:
      enabled: false
    config:
      auth_enabled: false
      server:
        http_listen_port: 3100
      distributor:
        ring:
          kvstore:
            store: memberlist
      ingester:
        lifecycler:
          ring:
            kvstore:
              store: memberlist
            replication_factor: 1
          final_sleep: 0s
        chunk_idle_period: 5m
        chunk_retain_period: 30s
      memberlist:
        abort_if_cluster_join_fails: false
        # Expose this port on all distributor, ingester
        # and querier replicas.
        bind_port: 7946
        # You can use a headless k8s service for all distributor,
        # ingester and querier components.
        join_members:
          # - loki-gossip-ring.logs.svc.cluster.local:7946
          - loki-headless.logs.svc.cluster.local:7946
        max_join_backoff: 1m
        max_join_retries: 10
        min_join_backoff: 1s
      schema_config:
        configs:
          - from: "2020-10-24"
            store: boltdb-shipper
            object_store: s3
            schema: v11
            index:
              prefix: index_
              period: 24h
      storage_config:
        aws:
          s3forcepathstyle: true
          insecure: true
        #     s3: "s3://${SECRET_LOKI_S3_ACCESS_KEY}:${SECRET_LOKI_S3_SECRET_KEY}@rook-ceph-rgw-object-store.rook-ceph.svc:80/loki"
        #     s3forcepathstyle: true
        boltdb_shipper:
          active_index_directory: /data/loki/index
          cache_location: /data/loki/index_cache
          resync_interval: 5s
          shared_store: s3
      # limits_config:
      #   enforce_metric_name: false
      #   reject_old_samples: true
      #   reject_old_samples_max_age: 168h
    extraPorts:
      - port: 7956
        protocol: TCP
        name: loki-gossip-ring
        targetPort: 7946
    serviceMonitor:
      enabled: true
    podAnnotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "http-metrics"
    livenessProbe:
      initialDelaySeconds: 60
    readinessProbe:
      initialDelaySeconds: 60
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - loki
            topologyKey: "kubernetes.io/hostname"

  valuesFrom:
    - kind: ConfigMap
      name: loki-ceph-bucket
      valuesKey: BUCKET_NAME
      targetPath: config.storage_config.aws.bucketnames
    - kind: ConfigMap
      name: loki-ceph-bucket
      valuesKey: BUCKET_HOST
      targetPath: config.storage_config.aws.endpoint
    - kind: Secret
      name: loki-ceph-bucket
      valuesKey: AWS_ACCESS_KEY_ID
      targetPath: config.storage_config.aws.access_key_id
    - kind: Secret
      name: loki-ceph-bucket
      valuesKey: AWS_SECRET_ACCESS_KEY
      targetPath: config.storage_config.aws.secret_access_key
