---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: goldilocks
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec: 
      # renovate: registryUrl=https://charts.fairwinds.com/stable
      chart: goldilocks
      version: 6.1.2
      sourceRef:
        kind: HelmRepository
        name: fairwinds-charts
        namespace: flux-system
      interval: 5m
  values:
    vpa:
      enabled: true
    dashboard:
      ingress:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: "traefik"
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "network-internal-auth@kubernetescrd"
          external-dns/is-public: "false"
        hosts:
          - host: goldilocks.${SECRET_DOMAIN}
            paths: ["/"]
        tls:
          - hosts:
              - goldilocks.${SECRET_DOMAIN}
