---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: miniflux
  namespace: selfhosted
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: miniflux-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # OIDC
        OAUTH2_CLIENT_ID: "{{ .miniflux_oidc_client_id }}"
        OAUTH2_CLIENT_SECRET: "{{ .miniflux_oidc_client_secret }}"
        OAUTH2_OIDC_DISCOVERY_ENDPOINT: "{{ .miniflux_oidc_discovery_endpoint }}"
        DATABASE_URL: "{{ .miniflux_postgres_url}}"
       # Postgres Init
        INIT_POSTGRES_DBNAME: miniflux
        INIT_POSTGRES_HOST: postgres-rw.db.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .miniflux_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .miniflux_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: miniflux
      rewrite:
        - regexp:
            source: "(.*)"
            target: "miniflux_$1"
    - extract:
        key: cloudnative-pg
