---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: media
resources:
  - ./externalsecret.yaml
  - ./helm-release.yaml
labels:
  - pairs:
      app.kubernetes.io/name: plex-auto-languages
      app.kubernetes.io/instance: plex-auto-languages
