---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: cloudflare-api-token
    creationPolicy: Owner
  data:
    - secretKey: api-key
      remoteRef:
        key: Cloudflare
        property: cert-manager
