---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  releaseName: esphome
  interval: 5m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  values:
    image:
      repository: ghcr.io/esphome/esphome
      tag: 2023.6.3
    env:
      TZ: "America/New_York"
      ESPHOME_DASHBOARD_USE_PING: true

    service:
      main:
        ports:
          http:
            port: 6052

    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet

    ingress:
      main:
        enabled: true
        ingressClassName: "nginx"
        hosts:
          - host: "esphome.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "esphome.${SECRET_DOMAIN}"
            secretName: tls.esphome

    persistence:
      config:
        enabled: true
        existingClaim: esphome-config-pvc
