---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: esphome
  namespace: home
spec:
  releaseName: esphome
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: esphome
      version: 7.3.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: esphome/esphome
      tag: 1.20.1
    env:
      TZ: "America/New_York"
      ESPHOME_DASHBOARD_USE_PING: true
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-production
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          # traefik.ingress.kubernetes.io/router.middlewares: "network-internal-auth@kubernetescrd"
          kubernetes.io/tls-acme: "true"
        hosts:
        - host: "esphome.${SECRET_DOMAIN}"
          paths:
          - path: /
            pathType: Prefix
        tls:
        - hosts:
          - "esphome.${SECRET_DOMAIN}"
          secretName: esphome-cert
    persistence:
      config:
        enabled: true
        existingClaim: esphome-pvc
