---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-nfs-tank-share-pv
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  claimRef:
    name: media-nfs-tank-share-pvc
    namespace: media
  storageClassName: nfs
  nfs:
    server: "nas.${SECRET_DOMAIN}"
    path: "/mnt/tank/share"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: media-nfs-tank-share-pvc
  namespace: media
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs
  resources:
    requests:
      storage: 1Mi
