---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex-meta-manager
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: plex-meta-manager-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Plex Meta Manager
        PMM_PLEX_API_KEY: "{{ .PLEX_APIKEY }}"
        PMM_TAUTULLI_API_KEY: "{{ .TAUTULLI_APIKEY }}"
        PMM_TMDB_API_KEY: "{{ .TMDB_APIKEY }}"
        PMM_OMDB_API_KEY: "{{ .OMDB_APIKEY }}"
        PMM_MDBLIST_API_KEY: "{{ .MDBLIST_APIKEY }}"
        PMM_RADARR_API_KEY: "{{ .RADARR_APIKEY }}"
        PMM_SONARR_API_KEY: "{{ .SONARR_APIKEY }}"
        PMM_TRAKT_CLIENT_ID: "{{ .TRAKT_CLIENT_ID }}"
        PMM_TRAKT_CLIENT_SECRET: "{{ .TRAKT_CLIENT_SECRET }}"
        PMM_TRAKT_ACCESS_TOKEN: "{{ .TRAKT_ACCESS_TOKEN }}"
        PMM_TRAKT_EXPIRES_IN: "{{ .TRAKT_EXPIRES_IN }}"
        PMM_TRAKT_REFRESH_TOKEN: "{{ .TRAKT_REFRESH_TOKEN }}"
        PMM_TRAKT_CREATED_AT: "{{ .TRAKT_CREATED_AT }}"
  dataFrom:
    - extract:
        key: plex
    - extract:
        key: tautulli
    - extract:
        key: tmdb
    - extract:
        key: omdb
    - extract:
        key: mdblist
    - extract:
        key: radarr
    - extract:
        key: sonarr
    - extract:
        key: trakt
