---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex
  namespace: media
spec:
  releaseName: plex
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: plex
      version: 6.3.3
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/plex
      tag: v1.28.2.6106-44a5bbd28
    env:
      TZ: "America/New_York"
    podSecurityContext:
      supplementalGroups:
        - 44
        - 109
        - 100
    service:
      main:
        enabled: true
        type: LoadBalancer
        loadBalancerIP: 10.45.100.100
        externalTrafficPolicy: Local

    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns/is-public: "true"
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
        hosts:
          - host: "plex.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "plex.${SECRET_DOMAIN}"
            secretName: tls.plex
    persistence:
      config:
        enabled: true
        existingClaim: plex-config-pvc

      transcode:
        enabled: true
        type: emptyDir
        medium: Memory

      nfs-nas-media:
        enabled: true
        existingClaim: media-nfs-share-pvc
        mountPath: /data
        readOnly: false

      # nfs-nas-media:
      #   enabled: true
      #   type: custom
      #   volumeSpec:
      #     nfs:
      #       server: "nas.${SECRET_DOMAIN}"
      #       path: /mnt/tank/share
      #   mountPath: /data
      #   readOnly: false

      backup:
        enabled: true
        type: custom
        volumeSpec:
          nfs:
            server: "nas-1.${SECRET_DOMAIN}"
            path: /mnt/backup/share/plex

    podAnnotations:
      configmap.reloader.stakater.com/reload: "plex-promtail"
    nodeSelector:
      node-role.kubernetes.io/worker: "true"
    # addons:
    #   promtail:
    #     enabled: true
    #     image:
    #       repository: grafana/promtail
    #       tag: 2.4.1
    #     loki: http://loki.logs.svc.cluster.local:3100/loki/api/v1/push
    #     logs:
    #     - name: promtail/plex
    #       path: "/config/Library/Application Support/Plex Media Server/Logs/*.log"
    #     - name: promtail/plex/plugins
    #       path: "/config/Library/Application Support/Plex Media Server/Logs/PMS Plugin Logs/*.log"
    #     volumeMounts:
    #     - name: config
    #       mountPath: /config
    #       readOnly: true
    #     securityContext:
    #       runAsUser: 0
