---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: matrix-media-pvc
  namespace: comms
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: rook-ceph-block
