---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: oauth2-proxy-secrets
  namespace: security
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: oauth2-proxy-secrets
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        cookie-secret: "{{ .oauth2_proxy_cookie_secret }}"
        redis-password: "{{ .oauth2_proxy_redis_password }}"
        client-id: "{{ .entra_generic_client_id }}"
        client-secret: "{{ .entra_generic_client_secret }}"
        oidc-issuer-url: "{{ .entra_holthome_domain }}/"
        azure-tenant: " {{ .entra_azure_tenant }}"
  dataFrom:
    - extract:
        key: oauth2-proxy
      rewrite:
        - regexp:
            source: "(.*)"
            target: "oauth2_proxy_$1"
    - extract:
        key: entra
      rewrite:
        - regexp:
            source: "(.*)"
            target: "entra_$1"
