---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: lidarr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: lidarr
      version: 14.1.3
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    image:
      repository: ghcr.io/k8s-at-home/lidarr-nightly
      tag: v1.0.2.2590
    env:
      TZ: "America/New_York"
    ingress:
      main:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          kubernetes.io/tls-acme: "true"
          cert-manager.io/cluster-issuer: letsencrypt-production
          external-dns.alpha.kubernetes.io/target: "ipv4.${SECRET_DOMAIN}"
          external-dns/is-public: "true"
          hajimari.io/enable: "true"
          hajimari.io/icon: "music-box"
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
          traefik.ingress.kubernetes.io/router.middlewares: "network-internal-auth@kubernetescrd"
        hosts:
          - host: "lidarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - "lidarr.${SECRET_DOMAIN}"
            secretName: tls.lidarr
      api:
        enabled: true
        ingressClassName: "traefik"
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: "websecure"
        hosts:
          - host: "lidarr.${SECRET_DOMAIN}"
            paths:
              - path: /api
                pathType: Prefix
        tls:
          - hosts:
              - "lidarr.${SECRET_DOMAIN}"
            secretName: tls.lidarr
    podSecurityContext:
      supplementalGroups:
        - 100
    persistence:
      config:
        enabled: true
        existingClaim: lidarr-config-pvc
      nfs-nas-media:
        enabled: true
        existingClaim: media-nfs-share-pvc
        mountPath: /media
        readOnly: false
      # nfs-nas-media:
      #   enabled: true
      #   type: custom
      #   volumeSpec:
      #     nfs:
      #       server: "nas.${SECRET_DOMAIN}"
      #       path: /mnt/tank/share
      #   mountPath: /media
      #   readOnly: false
      
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
      limits:
        memory: 1500Mi
    prometheus:
      podMonitor:
        enabled: true
        interval: 10m
        scrapeTimeout: 2m
    additionalContainers:
      - name: exportarr
        image: ghcr.io/onedr0p/exportarr:v1.0.0
        imagePullPolicy: IfNotPresent
        args: ["exportarr", "lidarr"]
        env:
          - name: PORT
            value: "32123"
          - name: URL
            value: "http://localhost"
          - name: CONFIG
            value: "/config/config.xml"
          - name: ENABLE_UNKNOWN_QUEUE_ITEMS
            value: "true"
          - name: ENABLE_ADDITIONAL_METRICS
            value: "true"
        ports:
          - name: exportarr
            containerPort: 32123
        volumeMounts:
          - name: config
            mountPath: /config
            readOnly: true
