---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helm-release.yaml
  # - networkattachmentdefinition.yaml
namespace: matrix
configMapGenerator:
  - name: matrix-coturn
    files:
      - turnserver.conf=config/turnserver.conf
generatorOptions:
  disableNameSuffixHash: true
