---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - matrix-media-ceph-object-bucket.yaml
  - helm-release.yaml
namespace: matrix
configMapGenerator:
  - name: matrix-media-repo
    files:
      - configuration.yaml=config/configuration.yaml
generatorOptions:
  disableNameSuffixHash: true
