---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: apps-media-plex
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/apps/media/plex"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
