---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-metrics-server
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/metrics-server"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-rbac
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/rbac"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
---
apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: core-nfd
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-namespaces
  interval: 5m
  path: "./k8s/clusters/cluster-0/manifests/kube-system/node-feature-discovery"
  prune: true
  wait: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg
