---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: openkm-postgresql-pvc
  namespace: collab
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: rook-ceph-block
