---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: plex-auto-languages
  namespace: media
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 1.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controller:
      type: statefulset
      annotations:
        reloader.stakater.com/auto: "true"
        secret.reloader.stakater.com/reload: &secret plex-auto-languages-secret

    image:
      repository: docker.io/remirigal/plex-auto-languages
      tag: v1.2.1

    env:
      TZ: "America/New_York"
      PLEX_URL: "http://plex.media.svc.cluster.local:32400"
      REFRESH_LIBRARY_ON_SCAN: "false"

    envFrom:
      - secretRef:
          name: *secret

    service:
      main:
        enabled: false

    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        memory: 1Gi
