---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sabnzbd
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    controllers:
      sabnzbd:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            runAsNonRoot: true
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            supplementalGroups:
              - 65542 # gladius:external-services

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sabnzbd
              tag: 4.5.5

            env:
              TZ: America/New_York
              SABNZBD__PORT: &port 80
              SABNZBD__HOST_WHITELIST_ENTRIES: >-
                sabnzbd,
                sabnzbd.media,
                sabnzbd.media.svc,
                sabnzbd.media.svc.cluster,
                sabnzbd.media.svc.cluster.local,
                sabnzbd.holthome.net
              # SABNZBD__API_KEY:
              #   valueFrom:
              #     secretKeyRef:
              #       name: sabnzbd-secret
              #       key: SABNZBD__API_KEY
              CROSS_SEED_ENABLED: false
              CROSS_SEED_HOST: cross-seed.media.svc.cluster.local
              CROSS_SEED_PORT: 80
              CROSS_SEED_SLEEP_INTERVAL: 30
              # CROSS_SEED_API_KEY:
              #   valueFrom:
              #     secretKeyRef:
              #       name: sabnzbd-secret
              #       key: CROSS_SEED_API_KEY
              PUSHOVER_ENABLED: true
            envFrom:
              - secretRef:
                  name: sabnzbd-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api?mode=version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: sabnzbd
        ports:
          http:
            port: *port

    persistence:
      config:
        existingClaim: sabnzbd
        advancedMounts:
          sabnzbd:
            app:
              - path: /config
      media:
        existingClaim: media-nfs-share-pvc
        globalMounts:
          - path: /media/sabnzbd/downloads
            subPath: sabnzbd/downloads
      tmp:
        type: emptyDir
        advancedMounts:
          sabnzbd:
            app:
              - path: /tmp
      # ephemeral:
      #   type: custom
      #   volumeSpec:
      #     ephemeral:
      #       volumeClaimTemplate:
      #         spec:
      #           accessModes:
      #             - ReadWriteOnce
      #           storageClassName: "openebs-hostpath"
      #           resources:
      #             requests:
      #               storage: 100Gi
      #   advancedMounts:
      #     sabnzbd:
      #       app:
      #         - path: /incomplete
      #           subPath: incomplete
      scripts:
        type: configMap
        name: sabnzbd-scripts
        defaultMode: 0775
        advancedMounts:
          sabnzbd:
            app:
              - path: /config/scripts

    route:
      app:
        hostnames:
          - sabnzbd.holthome.net
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: sabnzbd
                port: *port
