---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-traefik-middleware
  namespace: flux-system
spec:
  path: ./kubernetes/nas-1/apps/kube-system/traefik/middleware
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops-kubernetes
  interval: 15m
  retryInterval: 1m
  timeout: 2m
