---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: authentik
  namespace: security
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: authentik-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        AUTHENTIK_SECRET_KEY: "{{ .authentik_secret_key }}"
        AUTHENTIK_EMAIL__HOST: "{{ .authentik_email_host }}"
        AUTHENTIK_EMAIL__USERNAME: "{{ .authentik_email_username }}"
        AUTHENTIK_EMAIL__PASSWORD: "{{ .mailgun_authentik_smtp_password }}"
        AUTHENTIK_EMAIL__FROM: "{{ .authentik_email_from }}"
        AUTHENTIK_POSTGRESQL__HOST: &dbHost postgres-rw.db.svc.cluster.local
        AUTHENTIK_POSTGRESQL__NAME: authentik
        AUTHENTIK_POSTGRESQL__USER: &dbUser "{{ .authentik_POSTGRES_USER }}"
        AUTHENTIK_POSTGRESQL__PASSWORD: &dbPass "{{ .authentik_POSTGRES_PASS }}"
        AUTHENTIK_REDIS__PASSWORD: ""
        # Postgres Init
        INIT_POSTGRES_DBNAME: authentik
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"

  dataFrom:
    - extract:
        key: authentik
      rewrite:
        - regexp:
            source: "(.*)"
            target: "authentik_$1"
    - extract:
        key: mailgun
      rewrite:
        - regexp:
            source: "(.*)"
            target: "mailgun_$1"
    - extract:
        key: cloudnative-pg
