---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: error-pages
  namespace: network
spec:
  interval: 5m
  chart:
    spec:
      chart: /k8s/charts/kah-common-chart/
      sourceRef:
        kind: GitRepository
        name: k8s-gitops
        namespace: flux-system
      interval: 5m
  dependsOn:
    - name: traefik
      namespace: network
  values:
    image:
      repository: ghcr.io/tarampampam/error-pages
      tag: 2.15.0
    controller:
      enabled: true
      type: deployment
      strategy: RollingUpdate
      replicas: 3
    nameOverride: error-pages
    env:
      TEMPLATE_NAME: hacker-terminal
    service:
      main:
        ports:
          http:
            port: 8080
    affinity:
      podAntiAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                  - key: app.kubernetes.io/name
                    operator: In
                    values:
                      - error-pages
              topologyKey: kubernetes.io/hostname
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 500Mi
