#jinja2:lstrip_blocks: True
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
  - token: {{ kubeadm_join_token }}
    ttl: 1h
    groups:
      - system:bootstrappers:kubeadm:default-node-token
    usages:
      - signing
      - authentication
certificateKey: {{ kubeadm_certificate_key }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
clusterName: {{ cluster_name }}
certificatesDir: /etc/kubernetes/pki
controlPlaneEndpoint: {{ cluster_control_plane_endpoint }}
apiServer:
  {% if cluster_extra_sans | length > 0 %}
  certSANs:
    {% for san in cluster_extra_sans %}
    - {{ san }}
    {% endfor %}
  {% endif %}
  extraArgs:
    audit-log-path: "{{ cluster_audit_log_path }}"
    audit-log-maxage: "{{ cluster_audit_log_maxage }}"
    audit-log-maxbackup: "{{ cluster_audit_log_maxbackup }}"
    audit-log-maxsize: "{{ cluster_audit_log_maxsize }}"
    authorization-mode: {{ cluster_authorization_mode }}
    enable-admission-plugins: {{ cluster_enable_admission_plugins }}
    insecure-port: "0"
    kubelet-https: "true"
    profiling: "false"
    request-timeout: "1m0s"
    secure-port: "6443"
    service-account-lookup: "true"
    tls-cipher-suites: "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384"
  timeoutForControlPlane: "4m0s"
etcd:
  local:
    dataDir: {{ cluster_etcd_datadir }}
    extraArgs:
      client-cert-auth: "true"
      peer-client-cert-auth: "true"
      peer-auto-tls: "false"
      heartbeat-interval: "{{ cluster_etcd_heartbeat_interval }}"
      election-timeout: "{{ cluster_etcd_election_timeout }}"
imageRepository: {{ cluster_image_repository }}
networking:
  dnsDomain: cluster.local
  {%  if cluster_service_subnet | ipaddr %}
  serviceSubnet: {{ cluster_service_subnet }}
  {% endif %}
  {%  if cluster_pod_subnet | ipaddr %}
  podSubnet: {{ cluster_pod_subnet }}
  {% endif %}
controllerManager:
  extraArgs:
    bind-address: 127.0.0.1
    terminated-pod-gc-threshold: "50"
    profiling: "false"
    use-service-account-credentials: "true"
    feature-gates: "RotateKubeletServerCertificate=true"
scheduler:
  extraArgs:
    bind-address: 127.0.0.1
    profiling: "false"
