---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-wireless",
                "namespace": "network",
                "ips": ["10.30.10.15/16"]
              }]
          securityContext:
            runAsUser: 65534
            runAsGroup: 65533
            fsGroup: 65533
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.4.0
            env:
              VENV_FOLDER: /venv
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            resources:
              requests:
                cpu: 47m
                memory: 1254M
              limits:
                memory: 1254M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
            args: [
              "--auth", "none",
              "--disable-telemetry", "--disable-update-check",
              "--user-data-dir", "/config/.code-server",
              "--extensions-dir", "/config/.code-server",
              "--port", "12321",
              "/config"
            ]
            env:
              HASS_SERVER: http://localhost:8123
              HASS_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-secret
                    key: VSCODE_TOKEN
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

          music-assistant:
            image:
              repository: ghcr.io/music-assistant/server
              tag: 2.3.2@sha256:2e6f769f0a9863acea3a39d3207e41b39f325d3f36536851cc7e0509272d8a19
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 1374M
              limits:
                memory: 2Gi
            securityContext:
              apparmor:
                enabled: false # Disables apparmor
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                add:
                  - SYS_ADMIN
                  - DAC_READ_SEARCH
                drop:
                  - ALL
          msft-stt:
            image:
              repository: ghcr.io/hugobloem/wyoming-microsoft-stt-noha
              tag: 1.2.1@sha256:e9937e47e07197f5d8f054c91e076337112f010925d917484e5fc054de941d9f
            args: ["--debug"]
            env:
              AZURE_SERVICE_REGION: eastus
              AZURE_SUBSCRIPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: home-assistant-secret
                    key: SECRET_MSFT_TTS_API_KEY
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              fsGroup: 1000
          openwakeword:
            image:
              repository: rhasspy/wyoming-openwakeword
              tag: 1.10.0@sha256:3165a5cd8aef84beb882e640aa1f5c01c97f8c0b1f50016164ecdf2ab65d033a
            args: [
              "--preload-model", "hey_jarvis"
            ]
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi

    service:
      app:
        controller: home-assistant
        ports:
          http:
            port: 8123
            primary: true
          code-server:
            port: 12321
          music-server:
            port: 8095
          msft-stt:
            port: 10300
          openwakeword:
            port: 10400

    persistence:
      config:
        existingClaim: home-assistant-config
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config
            music-assistant:
              - path: /data
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      tmp:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent

    # ingress:
    #   app:
    #     enabled: true
    #     className: "external-nginx"
    #     annotations:
    #       external-dns.alpha.kubernetes.io/target: external.holthome.net
    #       nginx.ingress.kubernetes.io/rewrite-target: /$1
    #     hosts:
    #       - host: &host "ha.holthome.net"
    #         paths:
    #           - path: /(.*)
    #             service:
    #               identifier: app
    #               port: http
    #           - path: /music/(.*)
    #             service:
    #               identifier: app
    #               port: music-server
    #   code-server:
    #     enabled: true
    #     className: "internal-nginx"
    #     annotations:
    #       external-dns.alpha.kubernetes.io/target: internal.holthome.net
    #       nginx.ingress.kubernetes.io/rewrite-target: /$1
    #     hosts:
    #       - host: "ha-code.holthome.net"
    #         paths:
    #           - path: /(.*)
    #             service:
    #               identifier: app
    #               port: code-server

    route:
      app:
        hostnames:
          - ha.holthome.net
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /music/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - name: home-assistant
                port: 8095
          - backendRefs:
              - name: home-assistant
                port: 8123
      code-server:
        hostnames:
          - ha-code.holthome.net
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - name: home-assistant
                port: 12321
