---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: flaresolverr
  namespace: media
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://k8s-at-home.com/charts/
      chart: flaresolverr
      version: 5.3.0
      sourceRef:
        kind: HelmRepository
        name: k8s-at-home-charts
        namespace: flux-system
      interval: 5m
  values:
    controllerType: deployment
    image:
      repository: flaresolverr/flaresolverr
      tag: v2.2.2
      pullPolicy: Always
    env:
      TZ: "America/New_York"
      LOG_LEVEL: "info"
    resources:
      requests:
        memory: 250Mi
        cpu: 500m
      limits:
        memory: 3000Mi
