---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-minio
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-external-secrets-stores
  path: ./kubernetes/nas-1/apps/default/minio/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-gitops-kubernetes
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2beta1
      kind: HelmRelease
      name: minio
      namespace: default
  interval: 15m
  retryInterval: 1m
  timeout: 2m
