---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: plex-meta-manager
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: pmm-secret
    creationPolicy: Owner
    template:
      templateFrom:
        - configMap:
            name: pmm-config-tpl
            items:
              - key: config.yml
  dataFrom:
    - extract:
        key: plex
    - extract:
        key: tautulli
    - extract:
        key: tmdb
    - extract:
        key: omdb
    - extract:
        key: mdblist
    - extract:
        key: radarr
    - extract:
        key: sonarr
    - extract:
        key: trakt
