---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: network
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.15.2
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    fullnameOverride: &name externaldns-external
    image: # TODO: Remove this block when new chart version is released
      repository: registry.k8s.io/external-dns/external-dns
      tag: v0.16.1

    domainFilters:
      - holthome.net

    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: externaldns-external-secrets
            key: cloudflare_api_token

    extraArgs:
      - --cloudflare-dns-records-per-page=1000
      - --cloudflare-proxied
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --ignore-ingress-tls-spec
      - --gateway-name=external

    podAnnotations:
      secret.reloader.stakater.com/reload: externaldns-external-secrets

    policy: sync
    provider: cloudflare

    resources:
      requests:
        cpu: 13m
        memory: 42M
      limits:
        memory: 42M

    serviceMonitor:
      enabled: true

    sources:
      - gateway-httproute
      - ingress
      - crd

    txtOwnerId: main
    txtPrefix: "k8s."

  postRenderers:
    - kustomize:
        patches:
          - target:
              version: v1
              kind: Deployment
              name: *name
            patch: |
              - op: add
                path: /spec/template/spec/enableServiceLinks
                value: false
