---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: double-take-config-pvc
  namespace: home
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: rook-ceph-block
