---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: open-webui
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system

  values:
    controllers:
      open-webui:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: open-webui-secret
        containers:
          app:
            image:
              repository: ghcr.io/open-webui/open-webui
              tag: main@sha256:ee76db7339ab326fb3822ca22fd5de9b81b165c270d465fbca8fca3b80471db0
            env:
              OPENAI_API_BASE_URL: https://openrouter.ai/api/v1
              # CHROMA_DB_IMPL: postgres
              CHROMA_USE_DEPRECATED_CLIENT: False
              WEBUI_URL: https://ai.holthome.net
              ADMIN_EMAIL: ryan@ryanholt.net
              AUDIO_STT_ENGINE: openai
              AUDIO_TTS_ENGINE: openai
              ENABLE_IMAGE_GENERATION: true
              IMAGE_GENERATION_ENGINE: openai
              ENABLE_OLLAMA_API: false
              TZ: America/New_York
            envFrom: *envFrom
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 136m
                memory: 1024Mi
              limits:
                memory: 8192Mi

    service:
      app:
        controller: open-webui
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: "external-nginx"
        annotations:
          external-dns.alpha.kubernetes.io/target: external.holthome.net
        hosts:
          - host: ai.holthome.net
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: open-webui-config
        advancedMounts:
          open-webui:
            app:
              - path: /app/backend/data
